img.nebula {
  max-width: 80%;
  max-height: 80%;
}
body {
  background-image :none;
  background-color: black;
  color: white;
}

span.achoice a:visited, a:active {
  color: white;
}

a:-webkit-any-link {
  text-decoration: initial;
}
#host {
  background-color: rgba(0,0,0,0.8);
}

div#title {
  color: white;
}

/* span.achoice a.page,a.page:visited,a.page:active,a.page:focus,a.page:visited {
  color: yellow;
  background-color: red !important;
  text-decoration: none;
  text-decoration-line: none;
} */
